<div class="container">
    <h1>Edit Student Profile</h1>
    <div class = "row">
        <ul class="list-group">
            <li class="list-group-item active">Name: <%= userinfo.name%></li>
            <li class="list-group-item">Email: <%= userinfo.email %></li>
            <li class="list-group-item">Student ID: <%= userinfo.stdId %></li>
            <li class="list-group-item">Student Department: <%= userinfo.stdDept %></li>
            <li class="list-group-item">Student Phone: <%= userinfo.stdPhone %></li>
            <li class="list-group-item">CGPA: <%= userinfo.stdCGPA %></li>
            <li class="list-group-item">Date: <%= userinfo.date %></li>
        </ul>
    </div>
    <a href="/users/editprofile/<%= userinfo._id %>" class="btn btn-success mt-4">Edit Profile</a>
</div>
<a href="/dashboard" class="btn btn-primary mt-4">Back to Home</a>


